
html body {
  width: 100%;
  margin: 0%;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
}

.hat-container {
  margin-top: 25px;
}

.box {
  width: 400px;
  height: 250px;
  position: absolute;
  z-index: 10;
}


@keyframes rotate25 {
  0.0%{
  }
  100%{
      transform: rotate(0);
  }
  24.8%{
      transform: rotate(10deg);
  }
  50.0%{
  }
  74.6%{
      transform: rotate(-10deg);
  }
}

.hat:hover {
  animation: rotate25 5s infinite;
  background-color: rgba(0, 0, 0, 0);

}

.hat {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: rgba(0, 0, 0, 0);
}

.carousel {
  margin-top: 25px;
}

.carousel-item .cat {
  width: 500px!important;
  margin: 0 auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.row .hat-col {
  height: 250px;
}

div .title-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
  border-radius: 30px;
  width: fit-content;
}

.title {
  color: rgb(0, 0, 0);
  padding-top: 10px;
}

.title-container h1 {
  font-size: 3rem;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.title-container h2 {
  font-size: 2rem;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.select-button, .random-button, .reset-button {
  margin: 30px 50px 10px 50px;
}

.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dropdown-toggle, .dropdown-item, .random-button, .reset-button {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  height: 48px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

/* Extra extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .col.d-flex {
    width: 50%;
  }

  .hat-container {
    margin-top: 120px;
  }
}