html body {
  background-color: rgb(36, 41, 41);
}

.hat-container {
  margin-top: 25px;
}

.box {
  width: 400px;
  height: 250px;
  position: absolute;
  z-index: 10;
}


@keyframes rotate25 {
  0.0%{
  }
  100%{
      transform: rotate(0);
  }
  24.8%{
      transform: rotate(10deg);
  }
  50.0%{
  }
  74.6%{
      transform: rotate(-10deg);
  }
}

.hat:hover {
  animation: rotate25 5s infinite;
  background-color: rgba(0, 0, 0, 0);

}

.hat {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: rgba(0, 0, 0, 0);
}

.carousel {
  margin-top: 25px;
}

.carousel-item .cat {
  width: 500px!important;
  margin: 0 auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.row .col {
  height: 250px;
}